@model Birder2.Models.Bird

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bird</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InternationalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InternationalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BirdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
