@model Birder2.ViewModels.BirdDetailViewModel

@{
    ViewData["Title"] = Model.Bird.EnglishName;
}

<h2>@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h2>

<p><i>Might need a disclaimer here!  Returning images of species like 'woodock' or 'great tit' could return all sorts of things!</i></p>

<div>
    <div class="container--horizontal-stack">
        @foreach (var photo in Model.BirdPhotos)
        {
            <div class="wrapper--horizontal-stack">
                <a href="@photo.WebUrl" target="_blank">
                    <img src="@photo.LargeSquareThumbnailUrl" alt="<<>species name>>" title="@photo.Title">
                </a>
            </div>
        }
    </div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Family)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Family)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Genus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Genus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Species)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Species)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.EnglishName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.EnglishName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.InternationalName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.InternationalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.PopulationSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.PopulationSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.BtoStatusInBritain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.BtoStatusInBritain)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.ThumbnailUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.ThumbnailUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.SongUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.SongUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.LastUpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.LastUpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.BirdConserverationStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.BirdConserverationStatus.ConservationStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bird.BtoStatusInBritain)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bird.BirderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
