@model BirdDetailViewModel

@{
    ViewData["Title"] = Model.Bird.EnglishName;
}

<h2>@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h2>

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-8">
        <button class="btn btn-link" type="button" onclick="expand()" style="float: right;">Expand All</button>
        <button class="btn btn-link" type="button" onclick="collapse()" style="float: right;">Collapse All</button>
    </div>
</div>
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><b>Latest photographs from Flickr</b></a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="birds--horizontal-stack">
                    @foreach (var photo in Model.BirdPhotos)
                     {
                        <div class="wrapper--horizontal-stack">
                            <a href="@photo.WebUrl" target="_blank" class="thumbnail">
                                <img src="@photo.LargeSquareThumbnailUrl" alt="@Model.Bird.EnglishName" title="@photo.Title">
                            </a>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><b>Scientific classification</b></a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                @{/* TODO: Force same column size with CSS */}
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Class):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Class)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Order):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Order)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Family):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Family)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Genus):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Genus)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Species):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Species)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.EnglishName):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.EnglishName)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.InternationalName):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.InternationalName)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse3"><b>Status in Britain</b></a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.BtoStatusInBritain):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.BtoStatusInBritain)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.PopulationSize):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.PopulationSize)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.BirdConserverationStatus.ConservationStatus):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.BirdConserverationStatus.ConservationStatus)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.BirdConserverationStatus.Description):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.BirdConserverationStatus.Description)</span>
                </div>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Bird.Category):</span>
                    <span class="form-control" aria-describedby="sizing-addon1">@Html.DisplayFor(model => model.Bird.Category)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4"><b>Song</b></a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="class--bird-song-control">
                    @{ if (!string.IsNullOrEmpty(Model.Bird.SongUrl))
                        {
                            <audio controls>
                                <source src="@Model.Bird.SongUrl" type="audio/mpeg" />
                                Your browser does not support the audio element.
                            </audio>
                        }
                        else
                        { <p>A bird song recording is not currently available for the @Model.Bird.EnglishName</p> }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse7"><b>Sightings distribution map</b><i> (coming soon)</i></a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                @{/* ToDo: Sightings distribution map */}
                @*<div id="map" class="class--map"></div>*@
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse8"><b>Latest sightings</b><i> (coming soon)</i></a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                @{/* TODO: Latest sightings list */}

            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<small class="pull-right">Created: @Model.Bird.CreationDate; last update: @Model.Bird.LastUpdateDate</small>


<script src="~/js/accordionHandler.js"></script>


