@model Birder2.ViewModels.BirdIndexViewModel

@{
    ViewData["Title"] = "Birds";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
    int counter = 0;
}

<h2>
    @ViewData["Title"]
@ViewData["searchType"]
</h2>

<div>See in Tabular view</div>

<form id="sort-filter-form" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3">
            <label class="control-label">Search/pick species</label>
            @Html.DropDownListFor(m => m.SelectedBirdId,
                      new SelectList(Model.AllBirdsDropDownList, "BirdId", "EnglishName"),
                          new
                          {
                              @class = "form-control selectpicker showtick",
                              title = "Choose a bird species...",
                              data_live_search = "true",
                              data_show_subtext = "true",
                              onchange = "this.form.submit()"
                          })
        </div>
    </div>
</form>

<br />

<div class="row">
    @foreach (var item in Model.BirdsList)
    {
        if (counter != 0 && counter % 3 == 0)
        {
            @:</div>
        @:<div class="row">
        }

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="Bird/Details/@item.BirdId" />
                @if (item.ThumbnailUrl != null)
                {
                    <img src="@item.ThumbnailUrl" alt="ASP.NET" class="img-responsive" />
                }
                else
                {
                    <img src="~/images/if_099374-twitter-bird3_56010.png" alt="ASP.NET" class="img-responsive" />
                }
                <div class="caption">
                    <h3 id="thumbnail-label">@Html.DisplayFor(modelItem => item.EnglishName)</h3>
                    <p><i>@Html.DisplayFor(modelItem => item.Species)</i></p>
                </div>
            </div>
        </div>

        counter++;
    }
</div>
