@model BirdIndexViewModel
@{
    ViewData["Title"] = "Birds";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
    int counter = 0;
}


<form id="sort-filter-form" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4">
            <label class="control-label">Search or choose species:</label>
            @Html.DropDownListFor(m => m.SelectedBirdId,
                 new SelectList(Model.AllBirdsDropDownList, "BirdId", "EnglishName"),
                       new
                       {
                           @class = "form-control selectpicker show-tick",
                           title = "Choose a bird species...",
                           data_live_search = "true",
                           data_show_subtext = "true",
                           onchange = "this.form.submit()"
                       })
        </div>
        <div class="col-lg-3">
            <label class="control-label">Filter common/all species:</label>
            <div>
                <select asp-for="BirdStatusFilter" asp-items="Html.GetEnumSelectList<BirdIndexStatusFilter>()" class="form-control selectpicker show-tick"></select>
            </div>
        </div>
        <div class="col-lg-2">
            <label class="control-label">Results format:</label>
            <div>
                <select asp-for="ListFormat" asp-items="Html.GetEnumSelectList<BirdIndexListFormatFilter>()" class="form-control selectpicker show-tick"></select>
            </div>
        </div>
        <div class="col-lg-2">
            <label class="control-label">Page size:</label>
            <div>
                @Html.DropDownListFor(m => m.SelectedPageListSize, new SelectList(Model.PageSizeList),
                                      new
                                      {
                                          @class = "form-control selectpicker show-tick"
                                          //onchange = "this.form.submit()"
                                      })
            </div>
        </div>
        
        <div class="col-lg-1">
            <label class="control-label">.</label>
            <div>
                <button class="btn btn-default btn-success" type="submit">Filter</button>
            </div>
        </div>
    </div>
</form>

<br />

@{ if (Model.ListFormat == BirdIndexListFormatFilter.Thumbnail)
    {
        <div class="row">
            @foreach (var item in Model.BirdsList.Results)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                    @:</div>
                    @:<div class="row">
                }

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="Bird/Details/@item.BirdId" />
                        @if (item.ThumbnailUrl != null)
                        {
                            <img src="@item.ThumbnailUrl" alt="ASP.NET" class="img-responsive" />
                        }
                        else
                        {
                            <img src="~/images/if_099374-twitter-bird3_56010.png" alt="ASP.NET" class="img-responsive" />
                        }
                        <div class="caption">
                            <h3 id="thumbnail-label">@Html.DisplayFor(modelItem => item.EnglishName)</h3>
                            <p><i>@Html.DisplayFor(modelItem => item.Species)</i></p>
                        </div>
                    </div>
                </div>

                counter++;
            }

        </div>
    }
    else
    {

        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            English Name
                        </th>
                        <th>
                            Species
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Order
                        </th>
                        <th>
                            Family
                        </th>
                        <th>
                            Genus
                        </th>
                        <th>
                            International Name
                        </th>
                        <th>
                            Pop Size
                        </th>
                        <th>
                            Status in Britain
                        </th>
                        <th>
                            Conservation Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BirdsList.Results)
                    {
                    <tr>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.EnglishName)</b>
                            @*<a asp-action="Details" asp-route-id="@item.BirdId">@Html.DisplayFor(modelItem => item.EnglishName)</a>*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Species)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Family)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InternationalName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PopulationSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BtoStatusInBritain)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirdConserverationStatus.ConservationStatus)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.BirdId" class="btn btn-info btn-success">Details</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<br />

<div>
    @(await Component.InvokeAsync<PagerViewComponent>(Model.BirdsList))
</div>