@using FlickrNet
@model PhotoCollection



<div class="container--progress">
    <h2>New functionality build progress</h2>
    <p>Upload your own photos</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" style="width:40%"></div>
    </div>
    <p>Sign-up and sign-in with Facebook or Google</p>
    <div class="progress">
        <div class="progress-bar bg-danger progress-bar-striped" style="width:10%"></div>
    </div>
</div>


<div class="container--horizontal-stack">
    @foreach (var photo in Model)
    {
        <div class="wrapper--horizontal-stack">
            @*<div>
                    <img src="@photo.LargeSquareThumbnailUrl" alt="" />
                </div>*@
            <a href="@photo.WebUrl" target="_blank">
                <img src="@photo.LargeSquareThumbnailUrl" alt="<<>species name>">
            </a>
            <div>@photo.PhotoId</div>
            <div>@photo.Title</div> @* WRAP TEXT*@
        </div>
    }
</div>

<hr />


@*

    <div>Page Number: @Model.Page</div>

    @foreach (var photo in Model)
    {
        <div>@photo.PhotoId</div>
        <div>@photo.Title</div>
        <div>
            <img src="@photo.LargeSquareThumbnailUrl" alt="Many cups!" />
        </div>
    }

*@
