@model Birder2.Models.Observation

@{
    ViewData["Title"] = "Delete";
}

@{
    ViewData["Title"] = "Details";

    var statusMessageClass = Model.Quantity > 1 ? "were" : "was";
    <h1>@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h1>
    <h4><b>@Model.Quantity</b> @statusMessageClass spotted on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h4>
}

<h3>Are you sure you want to delete your observation?</h3>
<div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="ObservationId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-link">Back to List</a>
    </form>
    <small>Observation created: @Model.CreationDate; last update: @Model.LastUpdateDate</small>
</div>
