@model Birder2.Models.Observation
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

@*This page allows anyone to view a public observation.
    Therefore, do not include user specific data like bird count, etc...
*@

<h1>@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h1>
<h4>Observed by <b> @Model.ApplicationUser.UserName [link to profile page]</b> on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h4>
@{
    if (Model.ApplicationUserId == UserManager.GetUserAsync(User).Result.Id)
        { <p> Find out more about the <a asp-controller="Bird" asp-action="Details" asp-route-id="@Model.Bird.BirdId">@Model.Bird.EnglishName</a> and the details of your other sightings of this species.</p> }
    else
        { <p> Find out more about the <a asp-controller="Bird" asp-action="Details" asp-route-id="@Model.Bird.BirdId">@Model.Bird.EnglishName</a> and the details of your sightings of this species.</p> }
} 

@* Use above to display appropriate options (no edit/delete as appropriate) *@

<div>

    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.ObservationDateTime)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ObservationDateTime)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.NoteGeneral)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteGeneral)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Bird)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bird.EnglishName)
            </dd>*@
    </dl>
</div>

<hr />

<div id="map" class="class--map"></div>

<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model.ObservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<script>

    function initMap() {
        var observationLocation = { lat: @Model.LocationLatitude, lng: @Model.LocationLongitude };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: observationLocation
        });

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4 id="firstHeading" class="firstHeading">@Model.Bird.EnglishName</h4>' +
            '<div id="bodyContent">' +
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: observationLocation,
            map: map,
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });

    }

      function showError(error) {
          switch (error.code) {
              case error.PERMISSION_DENIED:
                  x.innerHTML = "User denied the request for Geolocation."
                  break;
              case error.POSITION_UNAVAILABLE:
                  x.innerHTML = "Location information is unavailable."
                  break;
              case error.TIMEOUT:
                  x.innerHTML = "The request to get user location timed out."
                  break;
              case error.UNKNOWN_ERROR:
                  x.innerHTML = "An unknown error occurred."
                  break;
          }
    }

</script>
