@model Birder2.Models.Observation
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@using Newtonsoft.Json
@{
    string data = JsonConvert.SerializeObject(Model,
        new JsonSerializerSettings()
        {
            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        });
}

@section scripts{
    <script src="~/js/jqueryvalidate.js"></script>
    <script src="~/js/jquery-validate.bootstrap-tooltip.js"></script>
    <script src="~/js/observationDetailsViewModel.js"></script>
    <script src="~/js/accordionHandler.js"></script>
    <script type="text/javascript">
        var observationDetailsViewModel = new ObservationDetailsViewModel(@Html.Raw(data));
        ko.applyBindings(observationDetailsViewModel);
    </script>
}

@{
    ViewData["Title"] = "Observation Details";


    var statusMessageClass = Model.Quantity > 1 ? "were" : "was";

    <div data-bind="html: Title()"></div>
    <div data-bind="html: SubTitle()"></div>


    if (Model.ApplicationUserId == UserManager.GetUserAsync(User).Result.Id)
    {
        <h4><b>@Model.Quantity</b> @statusMessageClass spotted by <a asp-controller="User" asp-action="Details" asp-route-userName="@Model.ApplicationUser.UserName">You</a> on  @Model.ObservationDateTime.ToString("dddd, dd MMMM yyyy, HH:mm")</h4>
    }
    else
    {
        <h4><b>@Model.Quantity</b> @statusMessageClass spotted by <a asp-controller="User" asp-action="Details" asp-route-userName="@Model.ApplicationUser.UserName">@Model.ApplicationUser.UserName</a> on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h4>
    };

    <p> Find out more about the <a asp-controller="Bird" asp-action="Details" asp-route-id="@Model.Bird.BirdId">@Model.Bird.EnglishName</a> and the details of other sightings of this species.</p>
}



<div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <button class="btn btn-link" type="button" onclick="expand()" style="float: right;">Expand All</button>
            <button class="btn btn-link" type="button" onclick="collapse()" style="float: right;">Collapse All</button>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse1"><b>Photographs</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse5"><b>Notes</b></a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    <label asp-for="NoteGeneral"></label>
                    <input asp-for="NoteGeneral" class="form-control" data-bind="text: NoteGeneral" disabled />
                    <br />
                    <label asp-for="NoteHabitat"></label>
                    <input asp-for="NoteHabitat" class="form-control" data-bind="text: NoteHabitat" disabled />
                    <br />
                    <label asp-for="NoteWeather"></label>
                    <input asp-for="NoteWeather" class="form-control" data-bind="text: NoteWeather" disabled />
                    <br />
                    <label asp-for="NoteAppearance"></label>
                    <input asp-for="NoteAppearance" class="form-control" data-bind="text: NoteAppearance" disabled />
                    <br />
                    <label asp-for="NoteVocalisation"></label>
                    <input asp-for="NoteVocalisation" class="form-control" data-bind="text: NoteVocalisation" disabled />
                    <small data-bind="text: RecordDates"></small>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse7"><b>Location</b></a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="map" class="class--map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ObservationId" class="btn btn-link">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.ObservationId" class="btn btn-link">Delete</a>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

<small data-bind="text: RecordDates"></small>


@*<small>Observation created: @Model.CreationDate; last update: @Model.LastUpdateDate</small>*@


