@model Birder2.Models.Observation
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@*This page allows anyone to view a public observation.
    Therefore, do not include user specific data like bird count, etc...
*@
@{
    ViewData["Title"] = "Details";

    var statusMessageClass = Model.Quantity > 1 ? "were" : "was";
<h1>@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h1>
<h4><b>@Model.Quantity</b> @statusMessageClass observed by <b> @Model.ApplicationUser.UserName [link to profile page]</b> on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h4>

if (Model.ApplicationUserId == UserManager.GetUserAsync(User).Result.Id)
    { <p> Find out more about the <a asp-controller="Bird" asp-action="Details" asp-route-id="@Model.Bird.BirdId">@Model.Bird.EnglishName</a> and the details of your other sightings of this species.</p> }
else
{ <p> Find out more about the <a asp-controller="Bird" asp-action="Details" asp-route-id="@Model.Bird.BirdId">@Model.Bird.EnglishName</a> and the details of your sightings of this species.</p> }
}

@* Use above to display appropriate options (no edit/delete as appropriate) *@

<div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <button class="btn btn-link" type="button" onclick="expand()" style="float: right;">Expand All</button>
            <button class="btn btn-link" type="button" onclick="collapse()" style="float: right;">Collapse All</button>
        </div>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse1"><b>@Html.DisplayNameFor(model => model.NoteGeneral)</b></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteGeneral)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse2"><b>@Html.DisplayNameFor(model => model.NoteHabitat)</b></a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteHabitat)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse3"><b>@Html.DisplayNameFor(model => model.NoteWeather)</b></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteWeather)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse4"><b>@Html.DisplayNameFor(model => model.NoteAppearance)</b></a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteAppearance)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse5"><b>@Html.DisplayNameFor(model => model.NoteBehaviour)</b></a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteBehaviour)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse6"><b>@Html.DisplayNameFor(model => model.NoteVocalisation)</b></a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.DisplayFor(model => model.NoteVocalisation)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" @*data-parent="#accordion" *@ href="#collapse7"><b>Location</b></a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="map" class="class--map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ObservationId" class="btn btn-link">Edit</a>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

<small>Observation created: @Model.CreationDate; last update: @Model.LastUpdateDate</small>

<script>
    function expand() {
        $('.panel-collapse').collapse('show');
    }
    function collapse() {
        $('.panel-collapse').collapse('hide');
    }

    function initMap() {
        var observationLocation = { lat: @Model.LocationLatitude, lng: @Model.LocationLongitude };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: observationLocation
        });

        var contentString = '<div id="content">' +
            '<div id="siteNotice">' +
            '</div>' +
            '<h4 id="firstHeading" class="firstHeading">@Model.Bird.EnglishName</h4>' +
            '<div id="bodyContent">' +
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>' +
            '</div>' +
            '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: observationLocation,
            map: map,
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });

    }

      function showError(error) {
          switch (error.code) {
              case error.PERMISSION_DENIED:
                  x.innerHTML = "User denied the request for Geolocation."
                  break;
              case error.POSITION_UNAVAILABLE:
                  x.innerHTML = "Location information is unavailable."
                  break;
              case error.TIMEOUT:
                  x.innerHTML = "The request to get user location timed out."
                  break;
              case error.UNKNOWN_ERROR:
                  x.innerHTML = "An unknown error occurred."
                  break;
          }
    }

</script>
