@model LifeListViewModel

@{
    ViewData["Title"] = "Life List";
    Layout = "~/Views/Shared/_LayoutNoSidebar.cshtml";
}

<h2>Your Life List</h2>

<h4>You have observed  @Model.TotalSpecies species in @Model.TotalObservations observations:</h4>

<div class="panel panel-default">
    @*<div class="panel-heading">Life List</div>*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Count
                </th>
                <th>
                    Vernacular Name
                </th>
                <th>
                    Scientific Name
                </th>
                <th>
                    Est. population
                </th>
                <th>
                    Status in Britain
                </th>
                <th>
                    Conservation List
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LifeList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vernacular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScientificName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PopSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BtoStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConservationStatus)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
