@model Observation
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<section>
    <div class="media">
        <div class="media-left media-middle">
            @*<img src="~/images/if_099374-twitter-bird3_56010.png" class="media-object" style="width:60px">*@
            <img src="@Model.Bird.ThumbnailUrl" class="media-object">
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.Bird.EnglishName <small><i> @Model.Bird.Species</i></small></h3>
            @{
                if (Model.ApplicationUserId == UserManager.GetUserAsync(User).Result.Id)
                {
                    <h5>Spotted by <a asp-controller="User" asp-action="Details" asp-route-userName="@Model.ApplicationUser.UserName">You</a> on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h5>
                }
                else
                {
                    <h5>Spotted by <a asp-controller="User" asp-action="Details" asp-route-userName="@Model.ApplicationUser.UserName">@Model.ApplicationUser.UserName</a> on @Html.DisplayFor(modelItem => Model.ObservationDateTime)</h5>
                } }
            <div>
                <a asp-action="Details" asp-route-id="@Model.ObservationId" class="btn-sm">View</a>
            </div>
        </div>
    </div>
</section>
