@model UserDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<section>
    <div class="media">
        <div class="media-left media-middle">
            <img src="@Model.ProfileImage" class="media-object">
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.UserName</h3>
            @{ if (Model.UserName != UserManager.GetUserAsync(User).Result.UserName)
                {
                    var followButtonText = Model.IsFollowing == false ? "Follow" : "Unfollow";
                    <div>
                        <a asp-action="@followButtonText" asp-route-userName="@Model.UserName" asp-route-currentPage="@Model.Observations.CurrentPage" class="btn btn-danger btn-xs">@followButtonText</a>
                    </div>

                    @*<h5>Model.UserName's <a asp-controller="Observation" asp-action="ListLife"> Life List</a></h5>*@

                } }

        </div>
    </div>
</section>

<h4><b>@Model.UserName</b> has spotted <b>@Model.UniqueSpeciesCount</b> bird species in <b>@Model.Observations.RowCount</b> observations:</h4>

@{
    ViewData["Title"] = "My Observations";


    @foreach (var observation in Model.Observations.Results)
    {
        <div class="container">
            @Html.Partial("_Observations", observation)
        </div>
    }
}
<br />

@(await Component.InvokeAsync<PagerViewComponent>(Model.Observations))

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
