@model UserDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<section>
    <div class="media">
        <div class="media-left media-middle">
            <img src="@Model.ProfileImage" class="media-object">
        </div>
        <div class="media-body">
            <h3 class="media-heading">@Model.UserName</h3>
            @{ if (Model.UserName != UserManager.GetUserAsync(User).Result.UserName)
                {
                    var followButtonText = Model.IsFollowing == false ? "Follow" : "Unfollow";
                    <div>
                        <a asp-action="@followButtonText" asp-route-userName="@Model.UserName" asp-route-currentPage="@Model.Observations.CurrentPage" class="btn btn-danger btn-xs">@followButtonText</a>
                    </div>

                    <h5>View @Model.UserName's <a asp-controller="List" asp-action="ListLife" asp-route-userName="@Model.UserName"> Life List</a></h5>

                } }

        </div>
    </div>
</section>

<h4><b>@Model.UserName</b> has spotted <b>@Model.UniqueSpeciesCount</b> bird species in <b>@Model.Observations.RowCount</b> observations:</h4>

@{
    ViewData["Title"] = "My Observations";


    @foreach (var observation in Model.Observations.Results)
    {
        <div class="container">
            @Html.Partial("_Observations", observation)
        </div>
    }
}
<br />

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><b>Achievements</b></a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><b>About</b></a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><b>Map</b></a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4"><b>Observations</b></a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse7"><b>Analysis</b></a>
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                @{/* ToDo: Sightings distribution map */}
                @*<div id="map" class="class--map"></div>*@
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse8"><b>Latest sightings</b><i> (coming soon)</i></a>
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                @{/* TODO: Latest sightings list */}

            </div>
        </div>
    </div>
</div>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Observations))

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
